/* NAVBAR*/
nav {
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    user-select: none;
}

nav div {
    margin: 0px 50px 0px 150px;
}

/* IMAGEN A LA IZQUIERDA DEL NAVBAR */
nav div img {
    width: auto;
    height: 50px;
    margin: 0px 0px 5px;
    align-items: center;
}


/* NOMBRE EN EL NAVBAR */
nav div i {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* LOS ÍCONOS DEL NAVBAR */
nav div a {
    padding: 60px;
    color: rgb(104, 103, 103);
    text-decoration: none;
    transition:all 1s;
}  


nav div a :hover {
    color: white;
}

/* IMAGEN DEL CV */
@keyframes heightChange {
    from {height: 50px;}
    to {height: 240px}
}

.imagenCV {
    width: auto;
    height: 240px;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 40%;
    animation-duration: 3s;
    animation-name: heightChange;
}

/* ARTÍCULO DE PRESENTACIÓN */
article {
    color: black;
    margin: 30px;
    height: 600px;
    background: linear-gradient(0deg, rgba(242,228,95,1) 0%, rgba(246,142,81,1) 94%);
    opacity: 1;
    box-shadow: 5px  rgb(170, 169, 169);
    transition:all 1s ease-in-out;
}

article:hover {
    box-shadow: 10px 10px 10px 10px gray;
}


article div {
    color: rgb(0, 0, 0);
    text-align: center;
}

/* TEXTO DEL ARTÍCULO DE PRESENTACIÓN */
article .presentacionDiv {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    transition:all .5s ease-in-out;
}

article .presentacionDiv:hover {
    color: white;
    cursor: grab;
}

/* SECCIÓN DE LAS TARJETAS ESTUDIOS Y EXPERIENCIA */
.tarjetasSection {
    padding: 40px;
    display: flex;
    transition:all 1s ease-in-out;
}

.tarjetasSection div {
    width: 400px;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(131, 131, 131);
    background-color: beige;
    box-shadow: 10px 10px 10px 10px gray;
    transition:all 1s ease-in-out;
}

.tarjetasSection div h1, p, li {
    text-align: center;
    margin: 10px;
}

/* IMAGENES DE LAS TARJETAS DE ESTUDIO Y EXPERIENCIA*/
.tarjetaImagen {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* FORMULARIO */
form {
    margin: 50px auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    box-shadow: 5px  rgb(170, 169, 169);
    transition:all 1s ease-in-out;
}

form:hover {
    box-shadow: 10px 10px 10px 10px gray;
}

  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
  }
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra*/
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
input:focus, textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
textarea {
    vertical-align: top;
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
.button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: .5em;
  }

/* FOOTER */
footer {
    background-color: black;
    padding: 40px;
}
